<!-- <div class="intro-header">
      <div class="row">
        <div class="container">
        <div class="col-md-3 col-md-offset-3"> <img src="/assets/logo-home.png" alt="logo_home">
        </div>
      </div>
      <div class="row">
        <div class="registrarse"> 
            <div class="registro col-md-2 col-md-offset-3">
                <span class="registrarse"> Registrate</span>
            </div>
            <div class="inicio col-md-2"> Inicia sesion</div>
        </div>
      </div>
      </div>
</div> -->






  <div class="intro-header">

        <div class="container-fluid"> 

            <div class="row">
                <div class="col-xs-10 col-md-8">
                    <div class="columna1">
                    
                        <img src="/assets/logo-home.png" alt="logo_home">
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                             <%= link_to "Inicia sesion", new_user_session_path, :class => " inicio btn-lg" %> 
                             
                            </li>
                            <li>
                             
                              <%= link_to "Registrate", new_user_registration_path, :class => "registro btn-lg" %> 
                          
                            </li>
                            
                        </ul>
                    <div class="que"> Que es Chiise?</div>
                    <div ><img class="diagrama" src="/assets/home4.png" alt="diagrama"></div>
                </div>
            </div>
                <div class=" col-md-4">
                    <div class="columna2">
                 <img class="movil" src="/assets/movil-home.png" alt="movil_home">
                  </div> 
                 </div>
            </div>

        </div>
        <!-- /.container -->

    
