
<div id="cara masonry-container">
  <% @users.each do |user| %>
    <div class="cara col-md-3">
      <% if user.avatar_url.nil? %>
      <div>
      <a>
          <img src="/assets/person.jpg" alt="" class="responsive img-circle">
        </a>
      </div>
<% else %>
<div>
<%= image_tag user.avatar_url(:display), class: "responsive img-circle" %><br />
</div>
<% end %>
<div class="persona">
      <%= link_to user.name, user %>
</div>
    </div>
  <% end %>
</div>
 