
<div class="cover1">
<div class="container">
<div class="panel2 panel panel-default">
  <div class="panel-heading">
    <h4>Apuntate</h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :Repite_el_password %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <legend>Avatar</legend>
        <%= f.file_field :avatar %>
      </div>
      <%= f.submit 'Entrar', class: "boton btn" %>
    <% end %>
  </div>
</div>
</div>
</div>
