Bienvenido a la web CHIISE, la red social (todavia en beta) creada por Juan Y Jaime donde usted tendra un ligar comun para compartir fotos de un evento, quedada o cualquier cosa que sea comun. Usted ha sido invitado por un conocido, amigo o familiar  a compartir el siguiente album:
<h1><%= @invitacion.microtabla.content %></h1>. Entre y disfrute de la forma mas simple y divertida de compartir fotos con la gente que mas le importa. Cliquee el siguiente boton . <%= link_to "Entra y disfruta", microtabla_url(@invitacion.microtabla_id)%> 