
<%= form_for @presentacion, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
   <div><%= f.hidden_field :microtabla_id, :value => @microtabla.id%></div>
  <div><%= f.hidden_field :user_id, :value => current_user.id%></div>

    <div class="control-group">
      <%= f.label :destinatarios, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :contacto, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
  









<!-- <h1>Envia la invitacion de este evento</h1>

<%= form_for (@presentacion) do |f| %>
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center"></legend>
            <div><%= f.hidden_field :microtabla_id, :value => @microtabla.id%></div>
  <div><%= f.hidden_field :user_id, :value => current_user.id%></div>
	<p>
	  <%= f.label :destinatarios %><br/>
	  <%= f.text_field :contacto %>
	</p>
	<p>
	  <%= f.submit %>
	  <%= link_to "cancelar", user_path(current_user) %>
	</p>
		
</div>
</fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
<% end %> -->