
        

        
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">Contacts</span>
                    
                </div>
                
                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                
                <ul class="list-group" id="contact-list">
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                          <% if @user.avatar_url.nil? %>

          <img src="/assets/person.jpg" alt="" class="img-responsive img-circle">
        
<% else %>
<%= image_tag @user.avatar_url(:display), class: "img-responsive img-circle" %>
<% end %>
                           
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name"><%= @user.name %> (creador del album)</span><br/>
                            <span ><%= @user.email %></span>
                            
                        </div>
                        <div class="clearfix"></div>
                    </li>
      <% @gente.each do |macro| %>
      <% if macro != @user.email %>
        
          
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                          <% if @part = User.find_by(:email => macro ) %>
                            <% if @part.avatar_url.nil? %>

          <img src="/assets/person.jpg" alt="" class="img-responsive img-circle">
        
<% else %>
<%= image_tag @part.avatar_url(:display), class: "img-responsive img-circle" %>
<% end %>
<% else %>
<img src="/assets/person.jpg" alt="" class="img-responsive img-circle">

<% end %>

                                                    </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">
                              <% if @part = User.find_by(:email => macro ) %>
                              <%= @part.name %>
                              <% else %>
                              Usuario no registrado todavia.
                            <% end %>

                            </span><br/>
                            <span >
                              <%= macro %>
                              
                          </span>
                           
                        </div>
                        <div class="clearfix"></div>
                    </li>
                   
            <% end %>
            <% end %>
                </ul>
            </div>
       
  

<!-- <div class="opener">
<% modal ||= false %>
<% remote = modal ? true : false %>
<% @people.each do |macro| %>
  

  
  <%= macro.contacto%>
  
  <% end %>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <% @people.each do |macro| %>
  

  
  <%= macro.id%>
  
  <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->