<div class="cover1">
<div class="container">
<div class="panel1 panel panel-default">
  <div class="panel-heading">
    <h4>Inicia tu sesion </h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>
            <%= f.label :recuerdame %>
        </div>
        <% end %>
      <%= f.submit  'Entrar', class: "boton btn" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
