<%= form_for @post, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
   <div><%= f.hidden_field :microtabla_id, :value => @microtabla.id%></div>
  <div><%= f.hidden_field :user_id, :value => current_user.id%></div>

    <div class="control-group">
      <%= f.label :descripcion, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>
    
    
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>