<%= form_for @microtabla, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
  <div class="modal-body">
   

    <div class="control-group">
      <%= f.label :nombre, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :content, class: "form-control", :maxlength => 30%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :pequeña_descripcion, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :descripcion,  class: "form-control", :maxlength => 30 %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Crear album", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>
  
<!-- 
<%= form_for (@microtabla) do |f| %>
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center"></legend>
	<p>
	  <%= f.label :nombre %><br/>
	  <%= f.text_field :content %>
	</p>
	<p>
	  <%= f.label :pequeña_descripcion %><br/>
	  <%= f.text_field :descripcion %>
	</p>
	<p>
	  <%= f.submit %>
	  <%= link_to "cancelar", user_path(current_user) %>
	</p>
		
</div>
</fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
<% end %> -->