@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-modal";


/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.confi{
  width: 350px;
  margin-left: 500px;
}

.cruz{
  background:#8f00ca;
	
	margin-right: 40px;
  height: 118px;
  width: 130px;
}
.add{
  height: 130px;
  background:blue;
  margin-top: -3px;
  padding-left: 20px;

}
.navbar-brand-centered {
        position: absolute;
        left: 50%;
        text-align: center;
}

.user{
  padding-top:20px;
	margin-right: 70px;

}

.navbar-brand{
  color: gray;
}
.navbar-default {
    background-color: white !important;
    font-family: Georgia;
    
}
body {
  background:#f6f6f6 !important;
  font:17px/27px 'OpenSansLight',Arial,sans-serif;
  color:#555;
}
.casa{
  border-left:#8f00ca solid 1px;
  height: 118px;
  margin-left: 220px;
}
.ventanas{
  color: #8f00ca;
  margin-top: 45px;
  font-size: 30px;
  padding-left: 20px;
}
.contado{
  color: #8f00ca;
  margin-top: 49px;
  padding-left: 10px;
  font-size: 170%;
}
.contado1{
  color: white;
  background:#8f00ca;
  padding-left: 10px;
  font-size: 170%;

}
.casa1{
  height: 118px;
  margin-left: 50px;
}
.añadir{
  background:#8f00ca;
  color: white;
  font-size: 70px;
}
.ventanas1{
  color: white;
  margin-top: 45px;
  font-size: 50px;
  padding-left: 20px;
}
.album{
  font-size: 25px;
}
.create{
  height: 50px;
  width: 150px;
  margin-top: 10px;
  color: white !important;
  background:#8f00ca;
}
.responsive{
  height: 55px;
  width: 55px;
}
.create:hover{
  text-decoration: none !important;

  border-width: 1px;
  border-color: #8f00ca;
  color: #8f00ca !important;
  background-color: white;  
}
.icono{
  margin-top:-40px;
}