@import "bootstrap-sprockets";
@import "bootstrap";

.panel1{
    
    width: 400px !important;
    margin-left: 350px;
    margin-top: 60px;
}

.panel2{
    //background-color: #eeeeee;
	width: 400px;
	margin-left: 350px;
    margin-top: 20px;
}

.panel-heading {
  text-align: center;
  color: white !important;
  background-color: #8f00ca !important;
  border-color: #ddd;
}

.panel-body{
    color: gray !important;
}

.boton{
  border-style: solid;
  border-width: 1px;
  border-color: #8f00ca !important;
  color: #8f00ca;
  background-color: white;
}

.letrero{
    background-color: #8f00ca;
    color: white;
}
.cuadrado{
    height: 200px;
}

.cover1 {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}


.intro-header {
    margin-left: -10px;
    padding-top: 100px;
    background-color: #eeeeee;
   padding-top: 140px;  /*If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content!*/
    text-align: center;
    width: cover;
    height: 670px;
  
} 

.registro{
  border-style: solid;
  border-width: 1px;
  border-color: #8f00ca;
  color: white;
  background-color: #8f00ca;
}

.inicio{
  border-style: solid;
  border-width: 1px;
  border-color: #8f00ca;
  color: #8f00ca;
  background-color: white;
 
}

.inicio:hover{
  text-decoration: none;
  color: white;
  background-color: #8f00ca;  
}

.registro:hover{
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #8f00ca;
  color: #8f00ca;
  background-color: white;  
}

.que{
  margin-top: 100px; 
  color: #8f00ca;
}

.diagrama{
   margin-top: 10px; 
   height: 100px;
    
}
.movil{
   margin-left: -300px; 
   height: 400px;
    
}

.columna1{
   margin-right: -20px;  
}

.columna2{
   margin-left: -100px;  
}

.intro-message {
    position: relative;
   
}

.intro-message > h1 {
    margin: 0;
    
    font-size: 5em;
    
}

.intro-divider {
    width: 400px;
    
    
}

.intro-message > h3 {
    
}

/*@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}*/
