@import "bootstrap-sprockets";
@import "bootstrap";


.poster{


margin-left: -20px;

}

.cartelera{
margin-left: -85px;
margin-right: -100px;
	width: 200px;
}

.vertical{
	height: 700px;
}

.margen-foto{
margin-left: 43px;
	margin-right: -70px;
}

.responsive-small{
   margin-left:-220px;
	width: 28px;
	height: 28px;
	margin-top: -5px;

}
.icono-delete{
   
   
}
.boton-delete{
margin-top: -27px;
background: white !important; 
padding: 0;
}
.boton-editar{
	margin-top: -48px;
	padding: 0;
	height: 28px;
}