@import "bootstrap-sprockets";
@import "bootstrap";

.hero-spacer{
	width: 900px;
	margin-left: 230px;
	height: 150px;
}

.pronav{
    margin-top: 60px;
	width: 1150px;
	margin-left: 100px;
}
.thumbnail{
	width: 270px;
	height: 300px;
	margin-left: 100px;
	border-style: dashed;
	border-color: black;
}
.thumbnail:hover{
	text-decoration: none;
}
.crear{
	margin-top: 120px;
	margin-left: 80px;
	color: gray;
}

.panel-title{
     color: gray;
}
#masonry-container {
  margin-left: -60px;
  margin-right: 100px;
  pading: 5px;
  
}

.camara{
margin-left: 280px;
margin-top: -13px;
}

.foto{
margin-left: 200px;
margin-top: -100px;	
}

.nombre{
	margin-top: -50px;

}
.carita{
	width: 30px;
	height: 30px;
}
.nombre-user{
	margin-top:-50px;
}
.galleria{
	margin-left:-10px;
	margin-right:30px;
	
}
.dibujo{
	width: 380px;
}