	<nav class="cabecera navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="icono navbar-brand"><%= link_to image_tag("/assets/unnamed.png"), user_path(current_user) %></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	     <% if user_signed_in? %>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
					<li class="casa"><span class="ventanas glyphicon glyphicon-th-large"></span></li>
					<li class="contado"><%= current_user.microtablas.count %> albumes</li>
		
					<li class="casa1"><span class="ventanas glyphicon glyphicon-picture"></span></li>
					<li class="contado"><%= current_user.posts.count %> fotos</li>
		</ul>
	     
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a ><%= link_to "nuevo album", new_microtabla_path, remote: true, class: "create btn btn-lg" %> </a></li>
	      
	    
	  		
	  		<li class="user" class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
<% if current_user.avatar_url.nil? %>

          <img src="/assets/person.jpg" alt="" class="responsive img-circle">
        
<% else %>
<%= image_tag current_user.avatar_url(:display), class: "responsive img-circle" %>
<% end %>
<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><%= link_to "Configuracion", edit_user_registration_path %></li>
	            <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>

	          </ul>
	          <br>
<a class="nombre-user"><%=current_user.name %></a>
	        </li>
	       
	      </ul>


 

 
	      <% else %>
	      <ul class="nav navbar-nav navbar-right">
	      	<li><%= link_to "Entra", new_user_session_path %></li>
	      	<li><%= link_to "Registrate", new_user_registration_path %></li>
	      	<% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>